@import "slider.css";
@import "toggle.css";
@import "button.css";
@import "imageRater.css";
@import "fileUpload.css";
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    /* Fonts */
    --title-size: 7vh;
    font-size: 16px;
    font-family: 'Baloo Chettan 2', cursive;

    /* Colours */
    --colour1: #AFA9A9;
    --colour2: #8A848A;
    --colour3: #735181;
    --colour4: #74497e;
    --colour5: #2d266e;

    --colour-sc1: #436e26;
    --colour-sc2: #6e5126;

    --colour-text: var(--colour1);
    --colour-background: var(--colour5);

    color: var(--colour-text);
    background-color: var(--colour-background);

    
}

.light-mode {
    --colour-text: var(--colour5);
    --colour-background: var(--colour1);
  }

.container {
    display: grid;
    
    width: 100vw;
    height: 100vh;
    grid-template-rows: 10% 1fr 8%;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

header {
    grid-area: header;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "left centre right";
}

.main {
    grid-area: main;
    display: grid;
    width: 100%;
    height:  100%;
    grid-template-columns: 60% 40%;
    grid-template-areas:
        "catPic data"
}
.dataContainer{
    grid-area: data;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: var(--title-size);
}
footer {
    grid-area: footer;
    background: var(--colour3);
    display: flex;
    justify-content: space-between
}
footer #exportRatings{
    width: 20%;
    margin-right: 50px;
}
.toggles{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "label toggle";
    align-items: center;
    justify-items: center;
    /* margin: 8px */
}

.toggles p{
    margin-inline: 10px;
}

.icon {
    padding: 0;
    object-fit: contain;
    display: inline;
    vertical-align: middle;
}

#catIconPicture {    
    height: var(--title-size);
    margin-left: 5px;
    margin-bottom: 16px;
}

h1 {font-family: 'Gochi Hand', cursive;
    grid-area: centre;
    display: flex;
    font-size: var(--title-size);
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(10px 4px 4px var(--colour2));
}

p {
    font-family: 'Baloo Chettan 2', cursive;
}